* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
}

html {
  font-size: 16px;
}

h1 {
  margin: 50px auto 30px;
  text-align: center;
}

.alerts {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#welcome {
  display: none;
  text-align: center;
  margin: 30px 0;
}

#info {
  text-align: center;
  border: 2px solid #000;
  margin: 0 auto 10px;
  padding: 10px 0;
  width: 50%;
  height: 155px;
}

#info #fname, #info #lname {
  display: inline-block;
  width: 44%;
}

#info select {
  margin-top: 7px;
  width: 88%;
  height: 40px;
  font-size: 16px;
}

#interview {
  display: none;
  text-align: center;
  border: 2px solid #000;
  margin: 10px auto;
  width: 50%;
  height: 750px;
}

#interview img {
  width: 150px;
  height: 150px;
  margin: 10px auto 20px;
}

#interview #dialogue, #interview #q-and-a {
  border: 2px solid #000;
  margin: auto;
  text-align: left;
  padding: 5px;
  width: 88%;
  height: 300px;
  font-size: 20px;
}

#interview #dialogue #outer-dial, #interview #q-and-a #outer-dial {
  position: relative;
  height: 290px;
  overflow: auto;
}

#interview #dialogue #inner-dial, #interview #q-and-a #inner-dial {
  position: absolute;
  bottom: 0;
}

#interview #q-and-a {
  border: 2px solid #fff;
  height: 150px;
}

input {
  margin-top: 5px;
  width: 25px;
  font-size: 16px;
}

button {
  margin-top: 7px;
  width: 200px;
  height: 40px;
  font-size: 16px;
}
